.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 296px;
  margin-top: 24px;
  margin-left: 24px;
}
.email-label {
  width: 360px;
  height: 72px;
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form-label {
  width: 360px;
  height: 112px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
textarea {
  width: 359px;
  height: 79px;
  resize: none;
  border-color: rgba(128, 128, 128, 1);
  border-radius: 4px;
  border-width: 2px;
  outline: none;
}
textarea:hover {
  border-color: rgba(0, 0, 0, 1);
}
textarea:active {
  border-color: rgba(128, 128, 128, 1);
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  margin-top: 16px;
  background-color: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: rgba(108, 140, 255, 1);
}
.email-label input {
  width: 359px;
  height: 39px;
  border-color: rgba(128, 128, 128, 1);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  outline: none;
}
.email-label input:hover {
  outline: none;
  border-color: rgba(0, 0, 0, 1);
}
.email-label input:active {
  border-color: rgba(128, 128, 128, 1);
}
